# I. Pandas 
## 1. Introduction
Pandas is used for data manipulation, analysis and cleaning. pandas is necesera for importing data from files and also clean it, filling the missing values... ect.

if you want to be in the field of data you need to learn pandas, is free and more powerful than other existing solutions as excel ...

pandas use DataFreames and series : 2 dimentional tabular of data :)

## 2. Install Pandas 
tap in your terminal :
pip install pandas.

or run this command in your jupyter notebook

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

## 3. Get Started With Pandas

In [2]:
import numpy as np
import pandas as pd

In [3]:
# create a series
s = pd.Series([1,2,3,4,5,np.nan,8,9,10.1])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6     8.0
7     9.0
8    10.1
dtype: float64

In [4]:
# create a series of dates 
d = pd.date_range('20200301',periods=10)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# creatré a data frame
### pd.DataFrame(np.random.randn(x,y), index= z , columns=  name of label in list)
df1= pd.DataFrame(np.random.randn(10,4), index= d , columns=['A','B','C','D'])
# x=number of line; y= number of colomn ; d = list of index
df1

                   A         B         C         D
2020-03-01  0.483462  1.094920 -1.541507 -0.580134
2020-03-02  0.283124 -0.033989 -0.974675  0.473966
2020-03-03  0.684351  0.654300 -0.956822 -1.338235
2020-03-04  0.206383 -0.488022 -1.087708 -0.375192
2020-03-05  0.258241  0.171301 -0.730424  1.451086
2020-03-06 -1.373758 -0.444075 -0.516115  0.486774
2020-03-07  0.705230 -0.283662  1.244592  0.115619
2020-03-08  1.187272  0.058633  1.364456  0.046304
2020-03-09  0.207943  1.910204  0.516454  0.255134
2020-03-10  1.516364 -2.123243  2.062000  0.353777

In [6]:
# creatré a data frame
df = pd.DataFrame({'A':[1,2,3],
                   'B':pd.Timestamp('20200401'),
                   'C':pd.Series(1,index=list(range(3)),dtype='float16'),
                   'D':np.array([5]*3,dtype='int32'),
                   'E':pd.Categorical(['0','true','0']),
                   'F':'abde'})
df

   A          B    C  D     E     F
0  1 2020-04-01  1.0  5     0  abde
1  2 2020-04-01  1.0  5  true  abde
2  3 2020-04-01  1.0  5     0  abde

In [7]:
df.dtypes

A             int64
B    datetime64[ns]
C           float16
D             int32
E          category
F            object
dtype: object

## 4. How To View Data ?
various aspect to view data in order to work on with it.

In [8]:
df.head()

   A          B    C  D     E     F
0  1 2020-04-01  1.0  5     0  abde
1  2 2020-04-01  1.0  5  true  abde
2  3 2020-04-01  1.0  5     0  abde

In [9]:
df.tail()

   A          B    C  D     E     F
0  1 2020-04-01  1.0  5     0  abde
1  2 2020-04-01  1.0  5  true  abde
2  3 2020-04-01  1.0  5     0  abde

In [10]:
df.index

Int64Index([0, 1, 2], dtype='int64')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [12]:
df.to_numpy()

array([[1, Timestamp('2020-04-01 00:00:00'), 1.0, 5, '0', 'abde'],
       [2, Timestamp('2020-04-01 00:00:00'), 1.0, 5, 'true', 'abde'],
       [3, Timestamp('2020-04-01 00:00:00'), 1.0, 5, '0', 'abde']],
      dtype=object)

In [13]:
df.describe()

         A    C    D
count  3.0  3.0  3.0
mean   2.0  1.0  5.0
std    1.0  0.0  0.0
min    1.0  1.0  5.0
25%    1.5  1.0  5.0
50%    2.0  1.0  5.0
75%    2.5  1.0  5.0
max    3.0  1.0  5.0

In [14]:
df.sort_index(axis=1,ascending=False)

      F     E  D    C          B  A
0  abde     0  5  1.0 2020-04-01  1
1  abde  true  5  1.0 2020-04-01  2
2  abde     0  5  1.0 2020-04-01  3

In [15]:
df.sort_values(by='E')

   A          B    C  D     E     F
0  1 2020-04-01  1.0  5     0  abde
2  3 2020-04-01  1.0  5     0  abde
1  2 2020-04-01  1.0  5  true  abde

In [16]:
df['C']

0    1.0
1    1.0
2    1.0
Name: C, dtype: float16

In [17]:
df[0:2]

   A          B    C  D     E     F
0  1 2020-04-01  1.0  5     0  abde
1  2 2020-04-01  1.0  5  true  abde

In [18]:
df.loc[2]

A                      3
B    2020-04-01 00:00:00
C                      1
D                      5
E                      0
F                   abde
Name: 2, dtype: object

In [19]:
df.loc[:,['A','C']]

   A    C
0  1  1.0
1  2  1.0
2  3  1.0

In [20]:
df.at[1,'E']

'true'

In [21]:
df.iloc[0:1]

   A          B    C  D  E     F
0  1 2020-04-01  1.0  5  0  abde

In [22]:
df1

                   A         B         C         D
2020-03-01  0.483462  1.094920 -1.541507 -0.580134
2020-03-02  0.283124 -0.033989 -0.974675  0.473966
2020-03-03  0.684351  0.654300 -0.956822 -1.338235
2020-03-04  0.206383 -0.488022 -1.087708 -0.375192
2020-03-05  0.258241  0.171301 -0.730424  1.451086
2020-03-06 -1.373758 -0.444075 -0.516115  0.486774
2020-03-07  0.705230 -0.283662  1.244592  0.115619
2020-03-08  1.187272  0.058633  1.364456  0.046304
2020-03-09  0.207943  1.910204  0.516454  0.255134
2020-03-10  1.516364 -2.123243  2.062000  0.353777

In [23]:
# advenced indexing
df1[df1['A']>0]

                   A         B         C         D
2020-03-01  0.483462  1.094920 -1.541507 -0.580134
2020-03-02  0.283124 -0.033989 -0.974675  0.473966
2020-03-03  0.684351  0.654300 -0.956822 -1.338235
2020-03-04  0.206383 -0.488022 -1.087708 -0.375192
2020-03-05  0.258241  0.171301 -0.730424  1.451086
2020-03-07  0.705230 -0.283662  1.244592  0.115619
2020-03-08  1.187272  0.058633  1.364456  0.046304
2020-03-09  0.207943  1.910204  0.516454  0.255134
2020-03-10  1.516364 -2.123243  2.062000  0.353777

## 5. Handle Missing Data 
Missing data or null values in a data can create a lot of rucks in other stages of data science life cycle it is very important to deal with the messing data in effective maner

In [24]:
# create a data frame with some messing values:
'''adding a column to a data frame'''
df2 = df1.reindex(index=d[0:6],columns=list(df.columns)+['K'])
'''filling values directly but is not the right way to do it'''
df2.loc[d[1]:d[2],'E'] = 100
df2.loc[d[1]:d[2],'F'] = 100
df2.loc[:,'K'] = 1
df2

                   A         B         C         D      E      F  K
2020-03-01  0.483462  1.094920 -1.541507 -0.580134    NaN    NaN  1
2020-03-02  0.283124 -0.033989 -0.974675  0.473966  100.0  100.0  1
2020-03-03  0.684351  0.654300 -0.956822 -1.338235  100.0  100.0  1
2020-03-04  0.206383 -0.488022 -1.087708 -0.375192    NaN    NaN  1
2020-03-05  0.258241  0.171301 -0.730424  1.451086    NaN    NaN  1
2020-03-06 -1.373758 -0.444075 -0.516115  0.486774    NaN    NaN  1

In [25]:
df2.isnull()

                A      B      C      D      E      F      K
2020-03-01  False  False  False  False   True   True  False
2020-03-02  False  False  False  False  False  False  False
2020-03-03  False  False  False  False  False  False  False
2020-03-04  False  False  False  False   True   True  False
2020-03-05  False  False  False  False   True   True  False
2020-03-06  False  False  False  False   True   True  False

In [26]:
# 1st methode drope(delete) lines with messing values.
df2.dropna()

                   A         B         C         D      E      F  K
2020-03-02  0.283124 -0.033989 -0.974675  0.473966  100.0  100.0  1
2020-03-03  0.684351  0.654300 -0.956822 -1.338235  100.0  100.0  1

In [27]:
# 2nd filling all the messing values
df2.fillna(value=2)

                   A         B         C         D      E      F  K
2020-03-01  0.483462  1.094920 -1.541507 -0.580134    2.0    2.0  1
2020-03-02  0.283124 -0.033989 -0.974675  0.473966  100.0  100.0  1
2020-03-03  0.684351  0.654300 -0.956822 -1.338235  100.0  100.0  1
2020-03-04  0.206383 -0.488022 -1.087708 -0.375192    2.0    2.0  1
2020-03-05  0.258241  0.171301 -0.730424  1.451086    2.0    2.0  1
2020-03-06 -1.373758 -0.444075 -0.516115  0.486774    2.0    2.0  1

In [28]:
# other methode to check if thier is any messing values
'''does the same thing with pd.isnull()'''
pd.isna(df2)

                A      B      C      D      E      F      K
2020-03-01  False  False  False  False   True   True  False
2020-03-02  False  False  False  False  False  False  False
2020-03-03  False  False  False  False  False  False  False
2020-03-04  False  False  False  False   True   True  False
2020-03-05  False  False  False  False   True   True  False
2020-03-06  False  False  False  False   True   True  False

## 6. Different Pandas Operations
Different operations can help explore the data to reach conclusions.

In [29]:
print(df2.mean(0))  # for columns
print('\n',df2.mean(1)) # for lines

A      0.090300
B      0.159072
C     -0.967875
D      0.019711
E    100.000000
F    100.000000
K      1.000000
dtype: float64

 2020-03-01     0.091348
2020-03-02    28.678347
2020-03-03    28.577656
2020-03-04    -0.148908
2020-03-05     0.430041
2020-03-06    -0.169435
Freq: D, dtype: float64

## 7. reshaping

In [ ]:
Mytuple = list(zip())